<!doctype html>
<html>
  <head>
    <title>SF Street Cleaning Map</title>
    <link rel='stylesheet' href="static/css/map.css">
  </head>
  <body>
    <div id='key'>
      <span class='header'>SF Street Sweeping Map</span>
      <span class='color1'> &lt; 24 hours</span>
      <span class='color2'> &lt; 48 hours</span>
      <span class='color3'> &lt; 36 hours</span>
      <span class='color4'> &lt; a week</span>
      <span class='color5'> over a week</span>
    </div>
    <div id="map"></div>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?"></script>
    <script type="text/javascript" src="static/scripts/mapStyles.js"></script>
    <script type="text/javascript" src="static/scripts/maps.js"></script>
  </body>
</html>
